services:
  waymo-dev:
    build: .
    container_name: waymo-dev
    working_dir: /workspace
    tty: true
    stdin_open: true
    volumes:
      - ./:/workspace
      - ./data:/workspace/data   # local dataset directory
    ports:
      - "6006:6006"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
    runtime: nvidia
